<div class="ui section hidden divider"></div>
<div class="ui section divider"></div>
<div class="ui two column grid">
    <div class="six wide column">
        <a class="item" href="http://pnri.go.id"><i class="copyright icon"></i>2016 - Perpusnas RI</a>
    </div>
    <div class="ten wide column right aligned">
        <div class="ui horizontal bulleted link list">
            <a class="item" href="/">Home</a>
            <a class="item" href="/profil">Profil</a>
            <a class="item" href="/berita">berita</a>
            <a class="item" href="/pelayanan">pelayanan publik</a>
            <a class="item" href="/ebook">ebook</a>
            <a class="item" href="/kontak">kontak</a>
        </div>
    </div>
</div>
