                <div class="ui horizontal divider">Berita Terbaru</div>
                    <div class="ui link items">
                      <a class="item" href="/naskah-kuno-masjid-agung-solo-rusak-perpustakaan-nasional-kecewa">
                        <div class="ui tiny image">
                          <img src="{{  'assets/images/berita/thumbs/pnri-pelestarian-naskah-kuno-solo.jpg'|theme }}">
                        </div>
                        <div class="content">
                          <h4>Naskah Kuno Masjid Agung Solo Rusak, Perpustakaan Nasional Kecewa</h4>
                        </div>
                      </a>
                      <a class="item" href="/pelestarian-naskah-keraton-kasepuhan-cirebon">
                        <div class="ui tiny image">
                          <img src="{{  'assets/images/berita/thumbs/pnri-pelestarian-naskah-cirebon.jpg'|theme }}">
                        </div>
                        <div class="content">
                          <h4>Pelestarian Naskah Keraton Kasepuhan Cirebon</h4>
                        </div>
                      </a>
                      <a class="item" href="/naskah-kuno-masjid-agung-solo-rusak-perpustakaan-nasional-kecewa">
                        <div class="ui tiny image">
                          <img src="{{  'assets/images/berita/thumbs/pnri-pelestarian-naskah-kuno-solo.jpg'|theme }}">
                        </div>
                        <div class="content">
                          <h4>Naskah Kuno Masjid Agung Solo Rusak, Perpustakaan Nasional Kecewa</h4>
                        </div>
                      </a>
                      <a class="item" href="/pelestarian-naskah-keraton-kasepuhan-cirebon">
                        <div class="ui tiny image">
                          <img src="{{  'assets/images/berita/thumbs/pnri-pelestarian-naskah-cirebon.jpg'|theme }}">
                        </div>
                        <div class="content">
                          <h4>Pelestarian Naskah Keraton Kasepuhan Cirebon</h4>
                        </div>
                      </a>
                   </div>
               <div class="ui hidden divider"></div>

               <div class="ui horizontal divider">Berita Terpopuler</div>
                    <div class="ui link items">
                      <a class="item" href="/naskah-kuno-masjid-agung-solo-rusak-perpustakaan-nasional-kecewa">
                        <div class="ui tiny image">
                          <img src="{{  'assets/images/berita/thumbs/pnri-pelestarian-naskah-kuno-solo.jpg'|theme }}">
                        </div>
                        <div class="content">
                          <h4>Naskah Kuno Masjid Agung Solo Rusak, Perpustakaan Nasional Kecewa</h4>
                        </div>
                      </a>
                      <a class="item" href="/pelestarian-naskah-keraton-kasepuhan-cirebon">
                        <div class="ui tiny image">
                          <img src="{{  'assets/images/berita/thumbs/pnri-pelestarian-naskah-cirebon.jpg'|theme }}">
                        </div>
                        <div class="content">
                          <h4>Pelestarian Naskah Keraton Kasepuhan Cirebon</h4>
                        </div>
                      </a>
                      <a class="item" href="/naskah-kuno-masjid-agung-solo-rusak-perpustakaan-nasional-kecewa">
                        <div class="ui tiny image">
                          <img src="{{  'assets/images/berita/thumbs/pnri-pelestarian-naskah-kuno-solo.jpg'|theme }}">
                        </div>
                        <div class="content">
                          <h4>Naskah Kuno Masjid Agung Solo Rusak, Perpustakaan Nasional Kecewa</h4>
                        </div>
                      </a>
                      <a class="item" href="/pelestarian-naskah-keraton-kasepuhan-cirebon">
                        <div class="ui tiny image">
                          <img src="{{  'assets/images/berita/thumbs/pnri-pelestarian-naskah-cirebon.jpg'|theme }}">
                        </div>
                        <div class="content">
                          <h4>Pelestarian Naskah Keraton Kasepuhan Cirebon</h4>
                        </div>
                      </a>
                   </div>

